MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/md-automobile
PORT=5000
VAPID_PUBLIC_KEY=your_vapid_public_key_here
VAPID_PRIVATE_KEY=your_vapid_private_key_here
VAPID_SUBJECT=mailto:admin@mdautomobile.com
NODE_ENV=production
